{% extends "padre.html" %}

{% load static %}

{% block titulo %}

 <h1 class = "mb-5"> Acerca de mi </h1>

{% endblock %}

{% block contenido %}
 <h1 class="text-center"> Hola! me llamo Federico Martin Borsi</h1>

 <h4>Soy un estudiante de Ingenieria en sistemas que le interesa mucho el mundo de la informatica y tecnologia, por eso decidi iniciar el curso de programacion de python para obtener
    mas conocimientos. Tengo 21 años, soy de Buenos Aires, Florencio Varela, me gusta escuchar musica y mas cuando programo asi me estreso menos jaja. En el pie de pagina deje mis redes 
    en caso que quieran comunicarse conmigo.
    
 </h4>

 {% endblock %}